.site-nav-toggle, .site-nav-right {
  display: none;

  +mobile() {
    flex-column();
  }

  .toggle {
    color: var(--text-color);
    padding: 10px;
    width: 22px;

    .toggle-line {
      /*background: var(--text-color);*/
      background: $oyellow;
      border-radius: 1px;
    }
  }

  ::before {
    color: $oyellow;
  }
}

.site-nav {
  +mobile() {
    site-nav-hide-by-default();
  }
}
